@import '~antd/dist/antd.css';

@import "layout/footer";
@import "layout/header";
@import "pages/verification";
@import "pages/tiles";

.background {
    background-color: aquamarine;
    height: 100%;
}

.m-0 {
    margin: 0px;
}

.mt-20 {
    margin-top: 20px;
}

.textBold {
    font-weight: 700;
}