.block {
    display: block;
    width: 100%;
    border: none;
    background-color: #f0f2f5;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
}
